# Ridge and Lasso Regression - Lab

## Introduction

In this lab, you'll practice your knowledge on Ridge and Lasso regression!

## Objectives

You will be able to:

- Use Lasso and ridge regression in Python
- Compare Lasso and Ridge with standard regression

## Housing Prices Data

Let's look at yet another house pricing data set.

In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('Housing_Prices/train.csv')

In [3]:
df_copy=df.copy()

In [4]:
df_copy.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

Look at df.info

In [5]:
# Your code here
df.info

<bound method DataFrame.info of         Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0        1          60       RL         65.0     8450   Pave   NaN      Reg
1        2          20       RL         80.0     9600   Pave   NaN      Reg
2        3          60       RL         68.0    11250   Pave   NaN      IR1
3        4          70       RL         60.0     9550   Pave   NaN      IR1
4        5          60       RL         84.0    14260   Pave   NaN      IR1
5        6          50       RL         85.0    14115   Pave   NaN      IR1
6        7          20       RL         75.0    10084   Pave   NaN      Reg
7        8          60       RL          NaN    10382   Pave   NaN      IR1
8        9          50       RM         51.0     6120   Pave   NaN      Reg
9       10         190       RL         50.0     7420   Pave   NaN      Reg
10      11          20       RL         70.0    11200   Pave   NaN      Reg
11      12          60       RL         85.0    11924   Pave   NaN      IR1
12      13          20       RL          NaN    12968   Pave   NaN      IR2
13      14          20       RL         91.0    10652   Pave   NaN      IR1
14      15          20       RL          NaN    10920   Pave   NaN      IR1
15      16          45       RM         51.0     6120   Pave   NaN      Reg
16      17          20       RL          NaN    11241   Pave   NaN      IR1
17      18          90       RL         72.0    10791   Pave   NaN      Reg
18      19          20       RL         66.0    13695   Pave   NaN      Reg
19      20          20       RL         70.0     7560   Pave   NaN      Reg
20      21          60       RL        101.0    14215   Pave   NaN      IR1
21      22          45       RM         57.0     7449   Pave  Grvl      Reg
22      23          20       RL         75.0     9742   Pave   NaN      Reg
23      24         120       RM         44.0     4224   Pave   NaN      Reg
24      25          20       RL          NaN     8246   Pave   NaN      IR1
25      26          20       RL        110.0    14230   Pave   NaN      Reg
26      27          20       RL         60.0     7200   Pave   NaN      Reg
27      28          20       RL         98.0    11478   Pave   NaN      Reg
28      29          20       RL         47.0    16321   Pave   NaN      IR1
29      30          30       RM         60.0     6324   Pave   NaN      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1430  1431          60       RL         60.0    21930   Pave   NaN      IR3
1431  1432         120       RL          NaN     4928   Pave   NaN      IR1
1432  1433          30       RL         60.0    10800   Pave  Grvl      Reg
1433  1434          60       RL         93.0    10261   Pave   NaN      IR1
1434  1435          20       RL         80.0    17400   Pave   NaN      Reg
1435  1436          20       RL         80.0     8400   Pave   NaN      Reg
1436  1437          20       RL         60.0     9000   Pave   NaN      Reg
1437  1438          20       RL         96.0    12444   Pave   NaN      Reg
1438  1439          20       RM         90.0     7407   Pave   NaN      Reg
1439  1440          60       RL         80.0    11584   Pave   NaN      Reg
1440  1441          70       RL         79.0    11526   Pave   NaN      IR1
1441  1442         120       RM          NaN     4426   Pave   NaN      Reg
1442  1443          60       FV         85.0    11003   Pave   NaN      Reg
1443  1444          30       RL          NaN     8854   Pave   NaN      Reg
1444  1445          20       RL         63.0     8500   Pave   NaN      Reg
1445  1446          85       RL         70.0     8400   Pave   NaN      Reg
1446  1447          20       RL          NaN    26142   Pave   NaN      IR1
1447  1448          60       RL         80.0    10000   Pave   NaN      Reg
1448  1449          50       RL         70.0    11767   Pave   NaN      Reg
1449  1450         180       RM         21.0     1533   Pave   NaN      Reg
1450  1451          90       RL         60.0     9000   Pave   NaN      Reg
1451  1452          20       RL         78.0     9262   Pave   NaN      Reg
1452  1453         180       RM         35.0     3675   Pave   NaN      Reg
1453  1454          20       RL         90.0    17217   Pave   NaN      Reg
1454  1455          20       FV         62.0     7500   Pave  Pave      Reg
1455  1456          60       RL         62.0     7917   Pave   NaN      Reg
1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
1457  1458          70       RL         66.0     9042   Pave   NaN      Reg
1458  1459          20       RL         68.0     9717   Pave   NaN      Reg
1459  1460          20       RL         75.0     9937   Pave   NaN      Reg

     LandContour Utilities    ...     PoolArea PoolQC  Fence MiscFeature  \
0            Lvl    AllPub    ...            0    NaN    NaN         NaN
1            Lvl    AllPub    ...            0    NaN    NaN         NaN
2            Lvl    AllPub    ...            0    NaN    NaN         NaN
3            Lvl    AllPub    ...            0    NaN    NaN         NaN
4            Lvl    AllPub    ...            0    NaN    NaN         NaN
5            Lvl    AllPub    ...            0    NaN  MnPrv        Shed
6            Lvl    AllPub    ...            0    NaN    NaN         NaN
7            Lvl    AllPub    ...            0    NaN    NaN        Shed
8            Lvl    AllPub    ...            0    NaN    NaN         NaN
9            Lvl    AllPub    ...            0    NaN    NaN         NaN
10           Lvl    AllPub    ...            0    NaN    NaN         NaN
11           Lvl    AllPub    ...            0    NaN    NaN         NaN
12           Lvl    AllPub    ...            0    NaN    NaN         NaN
13           Lvl    AllPub    ...            0    NaN    NaN         NaN
14           Lvl    AllPub    ...            0    NaN   GdWo         NaN
15           Lvl    AllPub    ...            0    NaN  GdPrv         NaN
16           Lvl    AllPub    ...            0    NaN    NaN        Shed
17           Lvl    AllPub    ...            0    NaN    NaN        Shed
18           Lvl    AllPub    ...            0    NaN    NaN         NaN
19           Lvl    AllPub    ...            0    NaN  MnPrv         NaN
20           Lvl    AllPub    ...            0    NaN    NaN         NaN
21           Bnk    AllPub    ...            0    NaN  GdPrv         NaN
22           Lvl    AllPub    ...            0    NaN    NaN         NaN
23           Lvl    AllPub    ...            0    NaN    NaN         NaN
24           Lvl    AllPub    ...            0    NaN  MnPrv         NaN
25           Lvl    AllPub    ...            0    NaN    NaN         NaN
26           Lvl    AllPub    ...            0    NaN    NaN         NaN
27           Lvl    AllPub    ...            0    NaN    NaN         NaN
28           Lvl    AllPub    ...            0    NaN    NaN         NaN
29           Lvl    AllPub    ...            0    NaN    NaN         NaN
...          ...       ...    ...          ...    ...    ...         ...
1430         Lvl    AllPub    ...            0    NaN    NaN         NaN
1431         Lvl    AllPub    ...            0    NaN    NaN         NaN
1432         Lvl    AllPub    ...            0    NaN    NaN         NaN
1433         Lvl    AllPub    ...            0    NaN    NaN         NaN
1434         Low    AllPub    ...            0    NaN    NaN         NaN
1435         Lvl    AllPub    ...            0    NaN  GdPrv         NaN
1436         Lvl    AllPub    ...            0    NaN   GdWo         NaN
1437         Lvl    AllPub    ...            0    NaN    NaN         NaN
1438         Lvl    AllPub    ...            0    NaN  MnPrv         NaN
1439         Lvl    AllPub    ...            0    NaN    NaN         NaN
1440         Bnk    AllPub    ...            0    NaN    NaN         NaN
1441         Lvl    AllPub    ...            0    NaN    NaN         NaN
1442         Lvl    AllPub    ...            0    NaN    NaN         NaN
1443         Lvl    AllPub    ...            0    NaN    NaN         NaN
1444         Lvl    AllPub    ...            0    NaN    NaN         NaN
1445         Lvl    AllPub    ...            0    NaN    NaN         NaN
1446         Lvl    AllPub    ...            0    NaN    NaN         NaN
1447         Lvl    AllPub    ...            0    NaN    NaN         NaN
1448         Lvl    AllPub    ...            0    NaN   GdWo         NaN
1449         Lvl    AllPub    ...            0    NaN    NaN         NaN
1450         Lvl    AllPub    ...            0    NaN    NaN         NaN
1451         Lvl    AllPub    ...            0    NaN    NaN         NaN
1452         Lvl    AllPub    ...            0    NaN    NaN         NaN
1453         Lvl    AllPub    ...            0    NaN    NaN         NaN
1454         Lvl    AllPub    ...            0    NaN    NaN         NaN
1455         Lvl    AllPub    ...            0    NaN    NaN         NaN
1456         Lvl    AllPub    ...            0    NaN  MnPrv         NaN
1457         Lvl    AllPub    ...            0    NaN  GdPrv        Shed
1458         Lvl    AllPub    ...            0    NaN    NaN         NaN
1459         Lvl    AllPub    ...            0    NaN    NaN         NaN

     MiscVal MoSold YrSold  SaleType  SaleCondition  SalePrice
0          0      2   2008        WD         Normal     208500
1          0      5   2007        WD         Normal     181500
2          0      9   2008        WD         Normal     223500
3          0      2   2006        WD        Abnorml     140000
4          0     12   2008        WD         Normal     250000
5        700     10   2009        WD         Normal     143000
6          0      8   2007        WD         Normal     307000
7        350     11   2009        WD         Normal     200000
8          0      4   2008        WD        Abnorml     129900
9          0      1   2008        WD         Normal     118000
10         0      2   2008        WD         Normal     129500
11         0      7   2006       New        Partial     345000
12         0      9   2008        WD         Normal     144000
13         0      8   2007       New        Partial     279500
14         0      5   2008        WD         Normal     157000
15         0      7   2007        WD         Normal     132000
16       700      3   2010        WD         Normal     149000
17       500     10   2006        WD         Normal      90000
18         0      6   2008        WD         Normal     159000
19         0      5   2009       COD        Abnorml     139000
20         0     11   2006       New        Partial     325300
21         0      6   2007        WD         Normal     139400
22         0      9   2008        WD         Normal     230000
23         0      6   2007        WD         Normal     129900
24         0      5   2010        WD         Normal     154000
25         0      7   2009        WD         Normal     256300
26         0      5   2010        WD         Normal     134800
27         0      5   2010        WD         Normal     306000
28         0     12   2006        WD         Normal     207500
29         0      5   2008        WD         Normal      68500
...      ...    ...    ...       ...            ...        ...
1430       0      7   2006        WD         Normal     192140
1431       0     10   2009        WD         Normal     143750
1432       0      8   2007        WD         Normal      64500
1433       0      5   2008        WD         Normal     186500
1434       0      5   2006        WD         Normal     160000
1435       0      7   2008       COD        Abnorml     174000
1436       0      5   2007        WD         Normal     120500
1437       0     11   2008       New        Partial     394617
1438       0      4   2010        WD         Normal     149700
1439       0     11   2007        WD         Normal     197000
1440       0      9   2008        WD         Normal     191000
1441       0      5   2008        WD         Normal     149300
1442       0      4   2009        WD         Normal     310000
1443       0      5   2009        WD         Normal     121000
1444       0     11   2007        WD         Normal     179600
1445       0      5   2007        WD         Normal     129000
1446       0      4   2010        WD         Normal     157900
1447       0     12   2007        WD         Normal     240000
1448       0      5   2007        WD         Normal     112000
1449       0      8   2006        WD        Abnorml      92000
1450       0      9   2009        WD         Normal     136000
1451       0      5   2009       New        Partial     287090
1452       0      5   2006        WD         Normal     145000
1453       0      7   2006        WD        Abnorml      84500
1454       0     10   2009        WD         Normal     185000
1455       0      8   2007        WD         Normal     175000
1456       0      2   2010        WD         Normal     210000
1457    2500      5   2010        WD         Normal     266500
1458       0      4   2010        WD         Normal     142125
1459       0      6   2008        WD         Normal     147500

[1460 rows x 81 columns]>

In [6]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
                  ...
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [7]:
df.drop(df.select_dtypes(['object']), inplace=True, axis=1)

In [8]:
y=df['SalePrice']

In [9]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [10]:
df.drop(['SalePrice'], inplace=True, axis=1)

In [11]:
df_copy.drop(['SalePrice'], inplace= True, axis=1)

In [12]:
df.dtypes

Id                 int64
MSSubClass         int64
LotFrontage      float64
LotArea            int64
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
MasVnrArea       float64
BsmtFinSF1         int64
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
TotRmsAbvGrd       int64
Fireplaces         int64
GarageYrBlt      float64
GarageCars         int64
GarageArea         int64
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
MiscVal            int64
MoSold             int64
YrSold             int64
dtype: object

In [13]:
df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,548,0,61,0,0,0,0,0,2,2008
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,460,298,0,0,0,0,0,0,5,2007
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,608,0,42,0,0,0,0,0,9,2008
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,642,0,35,272,0,0,0,0,2,2006
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,836,192,84,0,0,0,0,0,12,2008

In [14]:
df.isna().sum()

Id                 0
MSSubClass         0
LotFrontage      259
LotArea            0
OverallQual        0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
MasVnrArea         8
BsmtFinSF1         0
BsmtFinSF2         0
BsmtUnfSF          0
TotalBsmtSF        0
1stFlrSF           0
2ndFlrSF           0
LowQualFinSF       0
GrLivArea          0
BsmtFullBath       0
BsmtHalfBath       0
FullBath           0
HalfBath           0
BedroomAbvGr       0
KitchenAbvGr       0
TotRmsAbvGrd       0
Fireplaces         0
GarageYrBlt       81
GarageCars         0
GarageArea         0
WoodDeckSF         0
OpenPorchSF        0
EnclosedPorch      0
3SsnPorch          0
ScreenPorch        0
PoolArea           0
MiscVal            0
MoSold             0
YrSold             0
dtype: int64

In [15]:
df_copy.isna().sum()

Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
                 ...
HalfBath            0
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
Length: 80, dtype: int64

In [16]:
df['LotFrontage'].fillna(df['LotFrontage'].median(),inplace= True)
df['GarageYrBlt'].fillna(df['GarageYrBlt'].median(),inplace= True)
df['MasVnrArea'].fillna(df['MasVnrArea'].median(),inplace= True)

In [17]:
df_copy['LotFrontage'].fillna(df_copy['LotFrontage'].median(), inplace= True)
df_copy['GarageYrBlt'].fillna(df_copy['GarageYrBlt'].median(), inplace= True)
df_copy['MasVnrArea'].fillna(df_copy['MasVnrArea'].median(), inplace= True)

We'll make a first selection of the data by removing some of the data with `dtype = object`, this way our first model only contains **continuous features**

Make sure to remove the SalesPrice column from the predictors (which you store in `X`), then replace missing inputs by the median per feature.

Store the target in `y`.

In [18]:
# Load necessary packages


# remove "object"-type features and SalesPrice from `X`


# Impute null values


# Create y

Look at the information of `X` again

In [19]:
X= df

In [20]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [21]:
X.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,548,0,61,0,0,0,0,0,2,2008
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,460,298,0,0,0,0,0,0,5,2007
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,608,0,42,0,0,0,0,0,9,2008
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,642,0,35,272,0,0,0,0,2,2006
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,836,192,84,0,0,0,0,0,12,2008

## Let's use this data to perform a first naive linear regression model

Compute the R squared and the MSE for both train and test set.

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [23]:
from sklearn.metrics import mean_squared_error, mean_squared_log_error

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= .2)

linreg_norm = LinearRegression()
linreg_norm.fit(X_train, y_train)

print('Training r^2:', linreg_norm.score(X_train, y_train))
print('Testing r^2:', linreg_norm.score(X_test, y_test))
print('Training MSE:', mean_squared_error(y_train, linreg_norm.predict(X_train)))
print('Testing MSE:', mean_squared_error(y_test, linreg_norm.predict(X_test)))

# Split in train and test

# Fit the model and print R2 and MSE for train and test

Training r^2: 0.7938056763474828
Testing r^2: 0.8787452702382567
Training MSE: 1274562619.5306153
Testing MSE: 824215491.5938532

## Normalize your data

We haven't normalized our data, let's create a new model that uses `preprocessing.scale` to scale our predictors!

In [24]:
from sklearn import preprocessing

X_scaled = preprocessing.scale(X)
# Scale the data and perform train test split

X_train, X_test, y_train, y_test = train_test_split(X_scaled,y)


linreg_norm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

Perform the same linear regression on this data and print out R-squared and MSE.

In [25]:
# Your code here
print('R-squared of training set', linreg_norm.score(X_train, y_train))
print('R-squared of test set',linreg_norm.score(X_test, y_test))
print('Mean squared error of training set:', mean_squared_error(y_train, linreg_norm.predict(X_train)))
print('Mean squared error of test set:', mean_squared_error(y_test, linreg_norm.predict(X_test)))

R-squared of training set 0.8439075447854028
R-squared of test set 0.6472340960060669
Mean squared error of training set: 1015888304.9418281
Mean squared error of test set: 2011236188.0317516

## Include dummy variables

We haven't included dummy variables so far: let's use our "object" variables again and create dummies

In [26]:
# Create X_cat which contains only the categorical variables
df_cat= df_copy.select_dtypes(include='object')

In [27]:
df_cat.isna().sum()

MSZoning            0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
BsmtCond           37
BsmtExposure       38
BsmtFinType1       37
BsmtFinType2       38
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
KitchenQual         0
Functional          0
FireplaceQu       690
GarageType         81
GarageFinish       81
GarageQual         81
GarageCond         81
PavedDrive          0
PoolQC           1453
Fence            1179
MiscFeature      1406
SaleType            0
SaleCondition       0
dtype: int64

In [28]:
# Make dummies
x_cat= pd.get_dummies(df_cat)

In [29]:
x_cat.isna().sum()

MSZoning_C (all)         0
MSZoning_FV              0
MSZoning_RH              0
MSZoning_RL              0
MSZoning_RM              0
Street_Grvl              0
Street_Pave              0
Alley_Grvl               0
Alley_Pave               0
LotShape_IR1             0
LotShape_IR2             0
LotShape_IR3             0
LotShape_Reg             0
LandContour_Bnk          0
LandContour_HLS          0
LandContour_Low          0
LandContour_Lvl          0
Utilities_AllPub         0
Utilities_NoSeWa         0
LotConfig_Corner         0
LotConfig_CulDSac        0
LotConfig_FR2            0
LotConfig_FR3            0
LotConfig_Inside         0
LandSlope_Gtl            0
LandSlope_Mod            0
LandSlope_Sev            0
Neighborhood_Blmngtn     0
Neighborhood_Blueste     0
Neighborhood_BrDale      0
                        ..
GarageCond_TA            0
PavedDrive_N             0
PavedDrive_P             0
PavedDrive_Y             0
PoolQC_Ex                0
PoolQC_Fa                0
PoolQC_Gd                0
Fence_GdPrv              0
Fence_GdWo               0
Fence_MnPrv              0
Fence_MnWw               0
MiscFeature_Gar2         0
MiscFeature_Othr         0
MiscFeature_Shed         0
MiscFeature_TenC         0
SaleType_COD             0
SaleType_CWD             0
SaleType_Con             0
SaleType_ConLD           0
SaleType_ConLI           0
SaleType_ConLw           0
SaleType_New             0
SaleType_Oth             0
SaleType_WD              0
SaleCondition_Abnorml    0
SaleCondition_AdjLand    0
SaleCondition_Alloca     0
SaleCondition_Family     0
SaleCondition_Normal     0
SaleCondition_Partial    0
Length: 252, dtype: int64

Merge `x_cat` together with our scaled `X` so you have one big predictor dataframe.

In [30]:
type(x_cat)

pandas.core.frame.DataFrame

In [31]:
# Your code here
Xall = pd.concat([X, x_cat], axis=1)

Perform the same linear regression on this data and print out R-squared and MSE.

In [32]:
Xall.shape

(1460, 289)

In [33]:
y.shape

(1460,)

In [34]:
# Your code here

X_train, X_test, y_train, y_test = train_test_split(Xall, y, test_size= .2)

linreg_norm.fit(X_train, y_train)



print('r-squared for training set', linreg_norm.score(X_train,y_train))
print('r-squared for testing set',linreg_norm.score(X_test, y_test))
print('MSE train', mean_squared_error(y_train, linreg_norm.predict(X_train)))
print('MSE test', mean_squared_error(y_test, linreg_norm.predict(X_test)))

r-squared for training set 0.9331871361205106
r-squared for testing set 0.8745940872491511
MSE train 419808293.10336345
MSE test 799249330.9805577

In [122]:
%%latex
print('$r^2$')

Notice the severe overfitting above; our training R squared is quite high, but the testing R squared is negative! Our predictions are far far off. Similarly, the scale of the Testing MSE is orders of magnitude higher then that of the training.

## Perform Ridge and Lasso regression

Use all the data (normalized features and dummy categorical variables) and perform Lasso and Ridge regression for both! Each time, look at R-squared and MSE.

## Lasso

With default parameter (alpha = 1)

In [37]:
from sklearn.linear_model import Ridge, Lasso

In [100]:
# Your code here
lasso= Lasso()

X_train, X_test, y_train, y_test= train_test_split(Xall,y, test_size=.2)

lasso.fit(X_train, y_train)

print("r squared train", lasso.score(X_train, y_train))
print("r squared test", lasso.score(X_test,y_test))
print('MSE of train with lasso', mean_squared_error(y_train,lasso.predict(X_train)))
print('MSE of test with lasso', mean_squared_error(y_test,lasso.predict(X_test)))

r squared train 0.9439943206371422
r squared test 0.8029417076832714
MSE of train with lasso 345487697.8012963
MSE of test with lasso 1351560826.1656928

With a higher regularization parameter (alpha = 10)

In [101]:
# Your code here
lasso= Lasso(alpha=10)
lasso.fit(X_train, y_train)

print("r-squared train", lasso.score(X_train, y_train))
print("r-squared test", lasso.score(X_test, y_test))
print("MSE for train", mean_squared_error(y_train, lasso.predict(X_train)))
print("MSE for test", mean_squared_error(y_test, lasso.predict(X_test)))

r-squared train 0.9427654098088323
r-squared test 0.8156708625574492
MSE for train 353068599.9116884
MSE for test 1264255557.8825257

## Ridge

With default parameter (alpha = 1)

In [102]:
# Your code here
ridge= Ridge()
ridge.fit(X_train, y_train)

print('r squared train', ridge.score(X_train, y_train))
print('r squared test', ridge.score(X_test, y_test))
print('MSE train', mean_squared_error(y_train, ridge.predict(X_train)))
print('MSE test', mean_squared_error(y_test, ridge.predict(X_test)))

r squared train 0.9251649392394418
r squared test 0.8823058824184368
MSE train 461642339.6897812
MSE test 807226922.1622404

With default parameter (alpha = 10)

In [103]:
# Your code here
ridge= Ridge(10)
ridge.fit(X_train, y_train)

print('r squared train', ridge.score(X_train, y_train))
print('r squared test', ridge.score(X_test, y_test))
print('MSE train', mean_squared_error(y_train, ridge.predict(X_train)))
print('MSE test', mean_squared_error(y_test, ridge.predict(X_test)))

r squared train 0.896134148146196
r squared test 0.8986408807027589
MSE train 640727412.7441312
MSE test 695190308.4424353

## Look at the metrics, what are your main conclusions?

Conclusions here

## Compare number of parameter estimates that are (very close to) 0 for Ridge and Lasso

In [108]:
# number of Ridge params almost zero
Ridgeparamsclosetzero = sum(abs(ridge.coef_)<10**(-10))

In [109]:
# number of Lasso params almost zero
Lassoparamsclosetzero = sum(abs(lasso.coef_)<10**(-10))

Compare with the total length of the parameter space and draw conclusions!

In [110]:
# your code here
Ridgeparamsclosetzero/len(ridge.coef_)

0.01730103806228374

## Summary

Great! You now know how to perform Lasso and Ridge regression.